.container-bg {
  /* top: 1080px; */
  /* left: 0px; */
  width: 1920px;
  height: 710px;
  background: #cc81ff 0% 0% no-repeat padding-box;
  /* background-color: black; */
  opacity: 1;
}
.image-row {
  text-align: center;
}

.image-1 {
  /* max-width: 1280px; */
  margin-top: 50px;
  padding-left: 150px;
  max-width: 100%;
  max-height: 710px;
  object-fit: cover;
}

.image-2 {
  /* max-width: 640px; */
  margin-top: 40px;
  max-width: 100%;
  max-height: 710px;
  object-fit: cover;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
