.container-bg-fourth {
  width: 1920px;
  height: 925px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.image-fourth {
  margin-top: 200px;
  max-width: 900px;
  padding-right: 67px;
}

.insta-barai {
  margin-top: 500px;
}

.bunny-image {
  margin-top: 170px;
}
