.container-bg-fifth {
  width: 1920px;
  height: 914px;
  background: #f8eeff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.image-fifth {
  margin-top: 100px;
}

.video-player {
  margin-top: 180px;
}

.rectangle {
  width: 144px;
  height: 82px;
  background: #aeaeae 0% 0% no-repeat padding-box;
  opacity: 1;
}
